fastapi
uvicorn
pydantic
python-multipart

numpy
pandas
scikit-learn
scipy
joblib
PyYAML
tqdm

torch
torchvision

opencv-python
Pillow
pydicom

matplotlib

shap
lime

pytest
requests

timm
huggingface_hub
safetensors